$twilight-blue: #083d77;
$pale-orange: #f79369;
$watermelon: #ea5256;
$charcoal: #1a1d1a;
$sand-yellow: #f9d367;
$red: #f40000;
$egg-shell: #ebebd3;
$brownish-orange-50: rgba(208, 88, 38, 0.5);
$black: #1e1e1e;
$white: #efefef;
$gray: #333;
$buttonWhite:#fff;